/*현재 문제점*/
/* 1. 메인페이지 밑에 경계선이 나타남 (어느부분이 문제인지 못찾음)*/
/* 2. 창 크기를 y 축으로 끝까지 줄였을 때 네비게이션바와 버거아이콘이 겹쳐진다 (폰트의 기본크기때문에 나타나는 현상)*/
/* 3. 탑 버튼이 창 크기에 따라 위치가 바뀜(창크기 상관없이 중앙에 있게 하고 싶음)*/

/*다음 회의 때 해야할 것*/
/*세부 CSS 의견 모으기*/


/* 반응형 네비게이션바 만들기 출처: https://taesung1993.tistory.com/27 */
*, *:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*:not(nav, .logo img, .btn_gotop, btn_chat, .outcard:before, .outcard:after, .container, .incard::before, .incard__frame, .incard__overlay, .social-icons i, #close__btn) {
  position: relative;
}

*:after:not(nav, .logo img, .btn_gotop, btn_chat, .outcard:before, .outcard:after, .container, .incard::before, .incard__frame, .incard__overlay, .social-icons i, #close__btn) {
  position: relative;
}

*:before:not(nav, .logo img, .btn_gotop, btn_chat, .outcard:before, .outcard:after, .container, .incard::before, .incard__frame, .incard__overlay, .social-icons i, #close__btn) {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(0, 0, 0, 0.5);
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:999;
}

.logo {
  max-height: 8vh;

}

.logo img {
  position: absolute;
  left: 5%;
  top: -5%;
  max-height: 8vh;
  min-height: 30px;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 30px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

/* 추가설명할 예정 */
@media screen and (max-width: 7680px) {
  .nav-links{
    width: 60%;
  }
}


/* 해결해야할 문제 --> */
/* 창크기를 y축으로 끝까지 줄였을 때 네비게이션바와 버거아이콘이 겹쳐진다 */
@media screen and (max-width: 768px) {
  body {
   overflow-x: hidden;
  }
  .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      transform: translateX(100%);
      transition: transform 0s ease-in;

  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

/* 추가설명할 예정 */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}

/* 스크롤 내릴 때 배경 바꾸기 출처: https://stickode.tistory.com/438 */
body {
  color: #000;
  background-color: #f4f4f4;
  height: 100vh;
  transition: background-color 1s ease;
}

.panel {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}

/*https://gurtn.tistory.com/182보고 해결*/
.color-gray {
  background: url("https://images.unsplash.com/photo-1666797630713-f5a2e54d3d23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDZ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.color-violet {
  background: url("https://plus.unsplash.com/premium_photo-1666432045848-3fdbb2c74531?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.color-indigo {
  background: url("https://images.unsplash.com/photo-1666797630713-f5a2e54d3d23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDZ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.color-blue {
  background: url("https://plus.unsplash.com/premium_photo-1666432045848-3fdbb2c74531?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.color-green {
  background: url("https://images.unsplash.com/photo-1666797630713-f5a2e54d3d23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDZ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.color-yellow {
  background-color: #fff6d9;
}
.color-orange {
  background: url("https://plus.unsplash.com/premium_photo-1666432045848-3fdbb2c74531?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.color-red {
  background: url("https://images.unsplash.com/photo-1666797630713-f5a2e54d3d23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDZ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* 탑버튼만들기 https://help.campaignus.me/article/272-topbutton */
/*팀원소개상세페이지 띄웠을 때 탑 버튼이 보이게 할 건지 상의*/

.btn_gotop {
  display: none;
  position:fixed;
  bottom:1.5vh;
  left: 49vw;
  outline:none;
  background-color: transparent;
  cursor:pointer;
  border-radius:50%;
}

.btn_gotop img {
  transition: all 0.2s linear
}

.btn_gotop img:hover {
  transform: scale(1.4);
  filter: hue-rotate(90deg);
}

/*팀원소개상세페이지 띄웠을 때 탑 버튼이 보이게 할 건지 상의*/
.btn_chat_open {
  position:fixed;
  bottom:1.5vh;
  left: 1vw;
  outline:none;
  background-color: transparent;
  color:#333;
  cursor:pointer;
  border-radius:50%;
  align-items: center;
  justify-content: center;
}

.btn_chat_open img {
  width:  8vw ;
  max-width: 100px;
  max-height: 50px;
  transition: all 0.2s linear;
}

.btn_chat_open:hover img {
  transform: scale(1.4);
  filter: hue-rotate(90deg);
}

.btn_chat_close {
  display: none;
  position:fixed;
  bottom:1.5vh;
  left: 1vw;
  outline:none;
  background-color: transparent;
  color:#333;
  cursor:pointer;
  border-radius:50%;
  align-items: center;
  justify-content: center;
}

.btn_chat_close img {
  width:  8vw ;
  max-width: 100px;
  max-height: 50px;
  transition: all 0.2s linear;
}

.btn_chat_close:hover img {
  transform: scale(1.4);
  filter: hue-rotate(90deg);
}


/* --------- outCard Animation ---------- */
.outcard:not(:empty):hover,
.outcard:not(:empty):focus {
  z-index: 1;
  color: #fff;
  background: #ea124f;
  opacity: 1;
  transform: scale(1.15) rotateZ(20deg);
  cursor: pointer;
}
.outcard:not(:empty):hover:after,
.outcard:not(:empty):focus:after {
  opacity: 1;
}
.outcard:not(:empty):hover:before,
.outcard:not(:empty):focus:before {
  opacity: 0;
}

.outcard {
  padding: 10px;
  background: #fcc99e;
  border-radius: 0.7em;
  opacity: 0.6;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: background, transform, color, opacity;
}
.outcard:not(:empty):before {
  box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}
.outcard:empty {
  opacity: 0.3;
}
.outcard:before, .outcard:after {
  content: "";
  position: absolute;
  border-radius: 0.7em;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
.outcard:after {
  box-shadow: -20px 20px 12px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

/* --------- Grid ---------- */
.grid {
  width: 100%;
  min-height: 92vh;
  padding: 20px;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}

.item1 {
  grid-area: 1/1/3/3;
}

.item2 {
  grid-area: 3/3/4/4;
  text-align: center;
  align-items: end;
  justify-content: center;
}
.item2.outcard:hover, .item2.outcard:focus {
  background: #00005c;
}

.item3 {
  grid-area: 4/1/5/4;
}

.item4 {
  grid-area: 1/3/2/5;
}

.item5 {
  grid-area: 2/4/3/5;
  text-align: center;
  align-items: end;
  justify-content: center;
}

.item5.outcard:hover, .item8.outcard:focus {
  background: #ea124f;
}

.item6 {
  grid-area: 3/4/4/5;
}

.item7 {
  grid-area: 3/4/5/5;
}

.item8 {
  grid-area: 1/5/2/6;
  text-align: center;
  align-items: end;
  justify-content: center;
}
.item8.outcard:hover, .item8.outcard:focus {
  background: #f57b51;

}

.item9 {
  grid-area: 2/5/3/6;
}

.item10 {
  grid-area: 3/5/4/6;
}

.item11 {
  grid-area: 4/5/5/6;
  text-align: center;
  align-items: end;
  justify-content: center;
}
.item11.outcard:hover, .item11.outcard:focus {
  background: #00a8cc;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*--------- Layout -------- */





#aboutTeam h1,
#aboutTeam h2,
#aboutTeam h3,
#aboutTeam h4,
#aboutTeam h5 {
  margin: 2.75rem 0 1.05rem;
  line-height: 1.2;
  font-family: "Jost", sans-serif;
}

#aboutTeam h1 {
  margin-top: 0;
  font-size: 3.052em;
}

#aboutTeam h2 {
  font-size: 1.5em;
  margin-top: 0;
}

#aboutTeam p {
  line-height: 1.3;
}

/* --------- Responsive ---------- */
@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, minmax(auto, 300px));
    overflow-y: scroll;
  }

  .item1 {
    grid-area: 1/1/2/3;
  }

  .outcard {
    grid-area: auto;
    text-align: left;
  }
  .outcard:empty {
    display: none;
  }
}

/*인카드 css*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  display: none;
  z-index: 1;
}

.incards {
  display: grid;
  grid-gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}


.incards__item {
  min-height: 70vh;
  height: 100%;
  width: 100%;
}

.incard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.incard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

#introduce1 .incard:nth-child(1) {
  background-image: linear-gradient(45deg, #00005c, #5858ec);
}

#introduce2 .incard:nth-child(1) {
  background-image: linear-gradient(45deg, #4b0217, #ea124f);
}

#introduce3 .incard:nth-child(1) {
  background-image: linear-gradient(45deg, #fc5720, #f57b51);
}

#introduce4 .incard:nth-child(1) {
  background-image: linear-gradient(45deg, #014150, #00a8cc);
}

.incard__frame {
  position: absolute;
  bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.incard__picture {
  margin-bottom: 12px;

}

.incard__picture img {
  display: block;
  height: auto;
  width: 200px;

}

.incard__title {
  bottom: 1%;
  left: 0%;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.incard__overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

.incard__overlay::before {
  content: "Read";
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.incard__overlay:hover, .incard__overlay:focus {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-radius: 0;
  opacity: 1;
}

.incard__overlay:hover::before, .incard__overlay:focus::before {
  content: none;
}

#introduce1 .incard:nth-child(1) .incard__overlay {
  background-image: linear-gradient(45deg, #00005c, #5858ec);
}

#introduce2 .incard:nth-child(1) .incard__overlay {
  background-image: linear-gradient(45deg, #4b0217, #ea124f);
}

#introduce3 .incard:nth-child(1) .incard__overlay {
  background-image: linear-gradient(45deg, #fc5720, #f57b51);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#introduce4 .incard:nth-child(1) .incard__overlay {
  background-image: linear-gradient(45deg, #014150, #00a8cc);
}

.incard__content {
  z-index: 1;
  padding: 20px;
  line-height: 1.4;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  pointer-events: none;
  transition: 0s;
}

.incard__overlay:hover ~ .incard__content {
  opacity: 1;
  visibility: visible;
  transition: 0.2s 0.3s;
}

.incard__content h1 {
  margin: 0;
  margin-top: 10px;
  left: 10px;
}

.incard__content p{
  padding-top: 10px;
}

#introduce1 .incard:nth-child(1) .close__btn {
  background-image: linear-gradient(45deg, #00005c, #5858ec);
}

#introduce2 .incard:nth-child(1) .close__btn {
  background-image: linear-gradient(45deg, #4b0217, #ea124f);
}

#introduce3 .incard:nth-child(1) .close__btn {
  background-image: linear-gradient(45deg, #fc5720, #f57b51);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#introduce4 .incard:nth-child(1) .close__btn {
  background-image: linear-gradient(45deg, #014150, #00a8cc);
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

#introduce1 .social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #00005c, #5858ec);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 265ms ease-out;
}

#introduce2 .social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #4b0217, #ea124f);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 265ms ease-out;
}

#introduce3 .social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #fc5720, #f57b51);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 265ms ease-out;
}

#introduce4 .social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #014150, #00a8cc);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 265ms ease-out;
}

#introduce1 .social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

#introduce2 .social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

#introduce3 .social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

#introduce4 .social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

#introduce1 .social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

#introduce2 .social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #014435;
  background: -webkit-linear-gradient(45deg, #014435, #02ffc8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

#introduce3 .social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00005c;
  background: -webkit-linear-gradient(45deg, #00005c, #0000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

#introduce4 .social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #7e0231;
  background: -webkit-linear-gradient(45deg, #7e0231, #ff0867);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

#close__btn {
  position: absolute;
  bottom: -15px;
  right: -15px;
  z-index: 1;
  cursor: pointer;
}








